table.hall{
    border-width: 3px;
    border-style: dotted;
    border-color: brown;
    border-collapse: collapse;
    width: 400px;
    height: 200px;
    text-align: center;
    margin: auto;
}

tr{
    border: 1px solid black;
}

td{
    border: 1px solid black;
    color: black;
}

.empty_seat {
    background-color: green;
}
.unavailable_seat {
    background-color: red;
}

#titleV, #welcome, #hall_title, #seats, #register_title {
  text-align: center;
}

#posters, #history, #quote, #location, #form_title {
  text-align: center;
}
