table.hall{
    border-width: 3px;
    border-style: dotted;
    border-color: brown;
    border-collapse: collapse;
    width: 400px;
    height: 200px;
    text-align: center;
    margin: auto;
}

tr{
    border: 1px solid black;
}

td{
    border: 1px solid black;
    color: black;
}

.empty_seat {
    background-color: green;
}
.unavailable_seat {
    background-color: red;
}

#background_color
{
   background-color: aquamarine;
}

#background_index
{
    background-image: url("../images/backgrounds/bl-01.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: bottom left;
    background-size: 100% 50%;
}

#background_buy
{
    background-size: 20% 10%;
    background-image: url("../images/backgrounds/bl-02.jpg");
    background-position: top right;
    background-repeat: repeat-y;
}

body#about > a
{
    font-size: 34px;
    font-weight: bold;
}
body#about a
{
    font-family: "Monotype Corsiva";
    line-height: 1.6;
}

h1
{
    font-style: italic;
    font-variant: small-caps;
}

h2
{
    font-style: oblique;
}


footer[class="authors"]
{
    font-size: 30px;
}

a:active
{
    color: aquamarine;
}
input[type="radio"]:checked
{
    width: 100px;
}
input[type="radio"]:disabled
{
    appearance: none;
}
p:empty
{

    width: 100%;
    height: 20px;
    background-color: black;
}

input[type="text"]:enabled
{
    background-color: lavender;
}

a:first-child
{
    font-size: 25px;
}

a:hover
{
    background-color: yellow;
}
a:last-child
{
    color: red;
}

section:last-of-type
{
    background-color: grey;
    color: black;
    width: 500px;
}

a:link
{
    background-color: lavender;
}

input:not([type="text"])
{
    background-color: aqua;
}

nav:nth-child(2)
{
    background-color: yellow;
}

input:nth-last-child(1)[type="submit"]
{
    background-color: green;
}

body#register a:only-child
{
    background-color: lightgreen;
}

input:required[type="text"]
{
    background-color: blueviolet;
    color: white;
}

a:visited
{
    color: deeppink;
}