
@font-face {
    font-family: 'SyneMono';
    src: url('../fonts/SyneMono-Regular.ttf') format('truetype');
}

.flex-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 20px;
  padding: 40px;
}
.flex-container > div {
  background-color: yellow;
  margin: 20px;
  padding: 40px;
}

h1
{
    font-family: 'SyneMono';
    text-shadow: 3px -3px grey;
    padding: 10px;

}
h2
{

    width: 300px;
    border-radius: 10px;
    background-color: hsla(240, 50%, 70%, 0.9);
}

p
{
  border: 20px;
  padding: 20px;
  margin: 10px;
}

#location
{
   border: 10px solid transparent;
  border-image-source: url('../images/border/border.jpg');
  border-image-slice: 10%;
  border-image-repeat: stretch;
}

#discount
{
   border: 15px solid transparent;
  border-image-source: url('../images/border/matrix.png');
  border-image-slice: 25%;
  border-image-repeat: repeat;
}

#div_buy_form
{
  border: 10px solid transparent;
  border-image-source: url('../images/border/sun.jpg');
  border-image-slice: 40%;
  border-image-repeat: repeat;
}

#history, #quote, #location, #discount {
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  -webkit-animation-name: slidein;
          animation-name: slidein;
  margin-bottom: 20px;
}

@-webkit-keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

@keyframes slidein {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-left: 0%;
    width: 100%;
  }
}

img {
  -webkit-transition: width 1s, height 2s;
  -o-transition: width 1s, height 2s;
  transition: width 1s, height 2s;
  -webkit-transform:rotate(12deg);
      -ms-transform:rotate(12deg);
          transform:rotate(12deg);
}

img:hover {
  width: 400px;
  height: 400px;
  -webkit-transform: skewY(10deg);
      -ms-transform: skewY(10deg);
          transform: skewY(10deg);
  opacity: 0.5;
}



table.hall{
    border-width: 3px;
    border-style: dotted;
    border-color: brown;
    border-collapse: collapse;
    width: 400px;
    height: 200px;
    text-align: center;
    margin: auto;
}

tr{
    border: 1px solid black;
}

td{
    border: 1px solid black;
    color: black;
}

.empty_seat {
    background-color: green;
}
.unavailable_seat {
    background-color: red;
}

#titleV, #welcome, #hall_title, #seats, #register_title {
  text-align: center;
}

#posters, #history, #quote, #location, #form_title, #discount {
  text-align: center;
}

#about {
 background-image: url("../images/backgrounds/bl-01.jpg");
 background-position: left;
 background-repeat: repeat-x;
 background-origin: content-box;
}

#contact_info
{
    background-color: rgba(0,255,55,0.5);
    width: 320px;
    border-radius: 30px 10px;
    -webkit-box-shadow: 4px 15px #888888;
            box-shadow: 4px 15px #888888;
}

@media only screen and (min-width: 1200px) {
  #opinions {
    -webkit-column-count: 2;
       -moz-column-count: 2;
            column-count: 2;
    -webkit-column-gap: 40px;
       -moz-column-gap: 40px;
            column-gap: 40px;
    -webkit-column-rule: 5px double #3510aa;
       -moz-column-rule: 5px double #3510aa;
            column-rule: 5px double #3510aa;
  }
}


#background_hall1
{
    background:  -webkit-linear-gradient(linear, left top, right top, from(grey),to(#f7e9f6));
    background:  -o-linear-gradient(left, grey,#f7e9f6);
    background:  linear-gradient(to right, grey,#f7e9f6)
}
#background_index
{
    background: -o-radial-gradient(center,circle,grey,white);
    background: radial-gradient(circle at center,grey,white);
}
#background_buy{
  background-image: url("../images/backgrounds/bl-02.jpg");
  background-position: right;
  background-repeat: repeat-y;
  background-origin: padding-box;
}
